*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color:#FFFFFF;
}
.contact{
    min-height: auto;
    padding: 40px 20px;
    background: linear-gradient(123deg, #ff9f43, #e87512);
    color: white;
    display: flex;
    align-items: center;
    gap: 40px;
}
.contact-text {
  max-width: 350px;
}
.contact-text h1 {
  font-size: 28.8px;
  font-weight: 700;
  margin-bottom: 8px;
}
.contact-text p {
  font-size: 15.2px;
  opacity: 0.9;
  text-transform: uppercase;
  letter-spacing: 1px;
}
