*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color:#FFFFFF;
}
.contact{
    min-height: 500px;
    padding: 60xp;
    background: linear-gradient(123deg, #ff9f43, #e87512);
    color: white;
    display: flex;
    align-items: center;
    gap: 60px;
}